[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
sphinx = "*"
nose = "*"
coverage = "*"
pycodestyle = "*"
pydocstyle = "*"
twine = "*"
tox = "*"

[requires]
python_version = "3.6"
