[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
sphinx = "*"
nose = "*"
coverage = "*"
pycodestyle = "*"
pydocstyle = "*"
readme-renderer = {version = "<=24.0", markers="python_version < '3.5'"}
twine = {version = "<2.0.0", markers="python_version < '3.5'"}
tox = "*"

[requires]
python_version = "3.4"
